.home {
	width: 100%;
	height: 100%;
	margin-left: 48px;

	& .intro {
		font-size: 48px;
		font-family: helvetica;
		color: #fffdef;
		
	}


	& .signAndButton {
		display: flex;
		flex-direction: row;
		align-items: center;

		& .powerButton {

			visibility: hidden;
			margin-left: 20vw;

			& .powerIcon {

				visibility: visible;

				width: 256px;
				height: 256px;
			}
		}
	}

	& .description {
		font-size: 48px;
		font-family: helvetica;
		color: #fffdef;

		margin-top: 48px;
	}
}