nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	align-items: center;
	background: #251e15;
	height: 65px;
	display: flex;
	justify-content: center;
	z-index: 2;

}


.navlink {
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 15px;
	height: 10%;
	cursor: pointer;


	font-family: Helvetica;
	font-size: 20px;
	color: white;


	border: 5px solid transparent;
	border-radius: 5px;
	background-color: transparent;
	transition: background-color 150ms linear;

	&:hover {
		background-color: rgba(80, 80, 80, 0.5);
	}
}


h1 {
	height: 65px;
	width: 100%;
	z-index: 0;
}
