.sign {	
	--sign-width: 500px;

	width: var(--sign-width);
	height: calc(var(--sign-width) / 2);

	display: inline-flex;
	flex-direction: row;

	& .letter_T {
		display: inline-flex;
		flex-direction: column;

		& .top {
			display: inline-flex;
			flex-direction: row;
		}
		

		& .vertical {
			display: inline-flex;
			flex-direction: column;

			margin-left: calc(var(--sign-width) * 0.1);
		}
	}

	& .letter_E {
		display: inline-flex;
		flex-direction: column;
		margin-left: calc(var(--sign-width) * 0.04);

		& .bar {
			display: inline-flex;
			flex-direction: row;
		}

	}

	& .letter_D {
		display: inline-flex;
		flex-direction: column;
		margin-left: calc(var(--sign-width) * 0.04);

		& .across {
			display: inline-flex;
			flex-direction: row;
		}
	}

	@media only screen and (max-width: 500px) {
		--sign-width: 100vw;
	}

	@media only screen and (min-height: 661px) {
		--sign-width: calc(2 * (60vh - 65px));
	}
}