.projPortfolio {

	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 65px;
	width: 100%;
	overflow: scroll;

	border: 3px solid green;

	& .portfolioHeader {
		color: #FFFDEF;
		font-family: helvetica;
		font-size: 36px;
		text-align: center;
	}

	& .projectList {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 80%;

		border: 3px solid blue;

		& .projectRow {

			display: flex;
			flex-direction: row;

			& .projectTile {

				border: 3px solid red;
				width: 20em;
				height: 15em;

				text-decoration: none;

				& .projectTileContents {

					& .projectImage {
						width: 100%;
						aspect-ratio: 4/3;
						background-color: grey;
					}

					& .projectText {

						width: 100%;
						aspect-ratio: 4/3;
						z-index: 2;

						position: relative;
						bottom: 15em;

						color: #FFFDEF;
						font-family: helvetica;
						text-align: center;

						& .projectSub {
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}