.projPortfolio {

	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 65px;
	width: 100%;
	height: calc(100vh - 65px);

	overflow: scroll;

	& .portfolioHeader {
		color: #FFFDEF;
		font-family: helvetica;
		font-size: 36px;
		text-align: center;
	}

	& .projectList {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 70%;

		& .projectRow {

			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 100%;

			padding-bottom: 3em;

			& .projectTile {

				width: 20em;
				height: 15em;

				text-decoration: none;

				& .projectTileContents {

					width: 20em;
					height: 15em;

					& .projectImage {
						width: 100%;
						aspect-ratio: 4/3;
						background-color: grey;

						border-radius: 5px;
						border: 3px solid black;
					}

					& .projectText {

						visibility: hidden;

						width: 100%;
						aspect-ratio: 4/3;
						z-index: 2;

						position: relative;
						bottom: 15em;

						color: #FFFDEF;
						font-family: helvetica;
						text-align: center;

						& .projectSub {
							font-size: 24px;
						}

						& .projectTitle {
							font-size: 36px;
						}

						& .projectDesc {
							font-size: 12px;
						}
					}
				}

				&:hover {

					& .projectImage {
						border: 3px solid blue;
					}

					& .projectText {
						visibility: visible;
					}
				}
			}
		}
	}
}